<div class="cart-drawer__recommendations">
  {% assign products_to_recommend = settings.limit_product %}
  {% assign products_to_show = settings.limit_product %}
  {% assign section_id = "cart-drawer" %}
  {% capture cart_items_json %}
    [
      {% for item in cart.items %}
        {
          "product_id": {{ item.product_id | json }},
          "quantity": {{ item.quantity | json }}
        }{% unless forloop.last %},{% endunless %}
      {% endfor %}
    ]
  {% endcapture %}
 
  <div class="cart-drawer__recommendations-heading">{{ 'sections.cart.upsell_title' | t }}</div>
  <comprehensive-cart-recommendations
    class="complementary-products"
    data-url="{{ routes.product_recommendations_url }}?limit={{ products_to_recommend }}{% if settings.cart_drawer_upsell_type == 'complementary' %}&intent=complementary{% endif %}"
    data-section-id="{{ section_id }}"
    data-cart-items="{{ cart_items_json | strip_newlines | strip | escape }}"    
    data-products-to-show="{{ products_to_show }}"
    >
      {% if recommendations.performed and recommendations.products_count > 0 %}
        <div class="swiper cart-upsell-swiper">
            <div class="swiper-wrapper">
                {% for recommendation in recommendations.products %}
                    <div class="swiper-slide grid__item">
                        {% render 'cart-drawer-upsell-product', product: recommendation, section_id: section_id %}
                    </div>
                {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
        </div>
      {% endif %}
  </comprehensive-cart-recommendations>
</div>

<style>
  .cart-drawer__recommendations {
    margin-top: 20px;
    border-top: 1px solid #D9DAD9;
    padding: 20px 16px;
    display: none;
  }

  .cart-drawer__recommendations.has-recommendations {
    display: block; 
    max-height: 300px;
  }

  .cart-drawer__recommendations .complementary-products .grid__item {
    width: 100%;
    max-width: 100%;
    margin-bottom: 10px;
    border: 1px solid #000;
  }

  .cart-drawer__recommendations-heading {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
    font-family: var(--font-heading-family);
    text-transform: uppercase;
    line-height: 130%;
  }

  .product-recommendations.no-markers {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
  }

  .product-recommendations.no-markers li {
    list-style-type: none;
  }

  .product-recommendations.no-markers li::marker {
    display: none;
  }

  .cart-upsell-item {
    margin-bottom: 20px;
  }

  .cart-upsell-item__inner {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 12px;
    border-color: rgba(var(--color-foreground), 0.75);
    background: var(--gradient-background);
  }

  .cart-upsell-item__media-wrapper {
    width: 25%;
  }

  .cart-upsell-item__info-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .cart-upsell-item__media img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    aspect-ratio: 1;
  }

  .cart-upsell-item__content {
    flex: 1;
    min-width: 0;
  }

  .cart-upsell-item__title {
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 10px;
    line-height: 1.2;
  }

  .cart-upsell-item__link {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
  }

  .cart-upsell-item__link:hover {
    text-decoration: underline;
  }

  .cart-upsell-item__price span {
    font-size: 14px;
    font-weight: 700;
  }

  .cart-upsell-item__button .product-form__submit {
    width: max-content;
    font-size: 14px;
    padding: 10px 14px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0;
    min-width: unset;
    min-height: unset;
    font-weight: 700;
  }
    
  .cart-upsell-item__button .button:after {
    box-shadow: 0 0 0 calc(var(--buttons-border-width) + var(--border-offset))
    rgba(var(--color-button-text), var(--border-opacity)),
  0 0 0 var(--buttons-border-width) {{ settings.cart_drawer_recommendation_btn_color }};
  }

  .cart-upsell-item__button .button:not([disabled]):hover::after {
    box-shadow: 0 0 0 calc(var(--buttons-border-width) + var(--border-offset))
        rgba(var(--color-button-text), var(--border-opacity)),
      0 0 0 calc(var(--buttons-border-width) + 1px) {{ settings.cart_drawer_recommendation_btn_color }};
  }

  .cart-upsell-swiper .swiper-slide {
    width: auto;
  }

  .complementary-products .swiper-pagination {
    position: relative;
    bottom: 0;
  }
  
  .complementary-products .swiper-pagination-bullet {
    border: 1px solid #000;
    opacity: 1;
    background: #fff;
  }

  .complementary-products .swiper-pagination-bullet-active {
    background: #000;
  }
</style>


